doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    title David Inga | Front end engineer
    meta(name="description", content="Wine, beer and food lover, developer enthusiast and engineer at Vizzuality")
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body
    block main
